{% if recommend_list|length %}
	<table cellspacing="0" id="changelist" style="width: 100%;">
	<thead>
	<tr>
	  <th scope="col" style="width:15%">Place</th>
	  <th scope="col" style="width:10%">Categories</th>
	  <th scope="col" style="width:5%">Distance</th>
	  <th scope="col" style="width:15%">Location</th>
	  <th scope="col" style="width:55%">Description</th>
	</tr>
	</thead>

	<tbody>
  {% for place in recommend_list %}
	  <tr class="{% cycle 'row1' 'row2' %}" id="tr_{{ place.page_id|escape }}">
	    <td>
    {% if place.page_url and place.page_url|length > 0 %}
	      <a class="place_name" id="{{ place.page_id|escape }},{{ place.longitude|escape }},{{ place.latitude|escape }}" href="{{ place.page_url|escape }}" target="_fb_page">
	        {{ place.name|escape }}
	      </a>
    {% else %}
	      <a class="place_name" id="{{ place.page_id|escape }},{{ place.longitude|escape }},{{ place.latitude|escape }}" href="javascript:goto({{ place.page_id|escapejs }})">
	        {{ place.name|escape }}
	      </a>
    {% endif %}
            </td>
	    <td class="categories">
	      {% for c in place.categories %}
	        {{ c.name|escape }}{% if not forloop.last %}&#44;{% endif %}
	      {% endfor %}
	    </td>
	    <td>{{ place.distance_txt|escape }} miles</td>
	    <td>{{place.location.street|escape}} {{place.location.city|escape}} {{place.location.state|escape}} {{place.location.zip|escape}}</td>
	    <td>{{ place.description|escape }}</td>
	  </tr>
  {% endfor %}
	</tbody>
    </table>
  {% include "w/pagenate.tmpl" %}
{% else %}
	<p>No recommendations are available.</p>
{% endif %}
