<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" class="iphone" viewport="fixed">
  <head>
    <title>Welcome to What's here app!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> 
    <!--link rel="stylesheet" type="text/css" href="/lmedia/css/m/base.css" /-->
    <link rel="stylesheet" type="text/css" href="/lmedia/css/m/tabs.css" />
    <script type="text/javascript" src="/lmedia/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/lmedia/js/tabs.js"></script>
  </head>
  <body class="oauth">
    <div class="outer-table">
    <div class="outer-table-cell">
    <div class="center">
      {% include "m/login.tmpl" %}
    </div>
    </div>
    </div>
    <div class="footer">
      <ul class="footer_list_left">
	<li>
  	  <a href='http://www.gotsitemonitor.com' target='_blank'><img src="https://cdn.gotsitemonitor.com/image/website_checked_gray.png" alt="Website Monitoring" border="0" width="80" height="15" /></a>
  	  <a href='http://whatshereapp.ideascale.com/' target='_blank'>Give Us Feedback</a>

	</li>
      </ul>

      <ul class="footer_list">
        <li>
          <a href="mailto:hiroshitash@gmail.com">Contact</a>
        </li>
        <li>
          <a href="/lmedia/html/wh_privacy_policy.html" target="_wh_page">Privacy Policy</a>
        </li>
        <li>
          <a href="/lmedia/html/wh_term_of_service.html" target="_wh_page">Terms of Service</a>
        </li>
      </ul>
    </div>


  </body>
</html>
